:root {
    /* Colores */
    --color-azul1: #005D89;
    --color-azul2: #01A0E1;
    --color-azul3: #E0F3F9;
    --color-gris-claro: #f5f5f5;
    --color-amarillo: #FEC400;
    --color-amarillo-claro: #FFE783;
    --color-fondo: #F2F3F3;
  
    /* Tipografías */
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-parkinsans: "Parkinsans", sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: var(--fuente-montserrat);
    font-size: 1.6rem; /* 1.6rem = 16px */
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}


.volver-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .volver-admin a {
    text-decoration: none;
    color: var(--color-azul1);
    font-family: var(--fuente-montserrat);
    font-weight: 500;
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    border: 1px solid var(--color-azul1);
    margin-left: 1rem;
  }
  


.container {
    width: calc(100% - 6rem);
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: var(--fuente-parkinsans);
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-azul1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

table th, table td {
    font-family: var(--fuente-montserrat);
    padding: 12px;
    text-align: left;
    border: 1px solid #dddddd;
}

table th {
    background-color: var(--color-azul1);
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

button {
    font-family: var(--fuente-montserrat);
    padding: 8px 12px;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}

select {
    font-family: var(--fuente-montserrat);
    padding: 6px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
